.signout-page{
    padding: 20px;
    margin: 100px auto 300px auto;
    background: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 400px;
    max-height: 80vh;
}



// at less than 750 px 
@media (max-width: 750px) { /* WHEN SCREEN SMALL */
    .signout-page{
        padding: 20px;
        margin: 100px auto 300px auto;
        background: rgb(236, 236, 236);
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 400px;
    }
}