
    ul,
    .drop-down-closed {
    display: none;
    }
    
    .name {
    color: aqua;
    font-size: 2em;
    font-style: italic; 
    }

    a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    }
    
    .Header {
    padding-bottom: 15vh;
    }
    .Menu-button {
    display: none;
    background: aqua;
    border-radius: 5px;
    cursor: pointer;
    }


    .Hamburger-Image {
    height: 50px;
    width: 50px;
    }

    .Logo-Image {
    height: 6em;
    width: 6em;
}

    nav {
    display: flex;
    background: rgb(56, 56, 56);
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    width: 100vw;
    height: 8vh;
    }

    
    @media (max-width: 1000px) { /* WHEN SCREEN SMALL */
    .Menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px;
    }
   
    .drop-down-open {
    width: 100vw;
    position: absolute;
    top: 9vh;
    left: 0px;
    display: flex;
    justify-content: center;
    animation: openMenu 1s;
    }
    .drop-down-closed {
    width: 100vw;
    height: 0vh;
    position: absolute;
    top: 9vh;
    left: 0px;
    animation: closeMenu 1s;
    }
    .drop-down-list {
    width: 80vw;
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    }

    a {
        color: white;
    }
    }

    @keyframes openMenu {
    from {
    transform: translateY(0vh);
    }
    to {
    transform: translateY(2vh);
    }
    }
    
    @media (min-width: 999px) { /* WHEN SCREEN BIG */
    ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    height: 100;
    width: 40vw;
    }
    
    .drop-down-list {
    display: none;
    }
    }