%flex-basic {
    display: flex;
    justify-content: center;
    align-items: center;
}
$card-background: rgb(236, 236, 236);

.register-page{
    @extend %flex-basic;
    padding: 20px;
    margin: 100px auto 300px auto;
    background:$card-background;
    flex-direction: column;
    width: 600px;
    height: 400px;
}

// at less than 750 px 
@media (max-width: 750px) { /* WHEN SCREEN SMALL */
    .register-page{
        padding: 20px;
        margin: 100px auto 300px auto;
        background: $card-background;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 400px;
    }
}