.App {
  background: rgb(209, 209, 209);
  padding-bottom: 20px;
  height: 100%;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

// $link: #0000b8;